[Mm]ech[Ss]torm_Unity/Library/
[Mm]ech[Ss]torm_Unity/Temp/
[Mm]ech[Ss]torm_Unity/Obj/
[Mm]ech[Ss]torm_Unity/Build/
[Mm]ech[Ss]torm_Unity/Builds/
[Mm]ech[Ss]torm_Unity/Logs/
[Mm]ech[Ss]torm_Unity/UserSettings/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

.DS_Store
Thumbs.db